
.App {
  text-align: center;
  display: flex;
  flex-direction: column;
}

.display-container {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-content: center;

}


.display-container div {
  display: flex;
  width: 35%;
  justify-content: center;
  margin: auto;
  
}

.strike-div, .ball-div{
  display: flex;
  flex-direction: column;
}

.display-inner{
  border: 1px solid black;
  border-radius: 15px;
 padding-bottom: 30px;
}

.dashboard-container{
  width: 35%;
  margin: auto;
  display: flex;
  justify-content: space-around;
  margin-top: 50px;
}

button{
  border: none;
  padding: 1rem 2rem 1rem 2rem;
  border-radius: 30px;
  background: red;
  color: white;
  font-weight: bold;
}

.title{
  color: red;
}